[user]
    name = ekarad1um
    email = 15633984+ekarad1um@users.noreply.github.com
[commit]
    gpgsign = false
[init]
    defaultBranch = main
[pull]
    rebase = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
